<p id="notice"><%= notice %></p>

<h1>Listing Pages</h1>

<table>
  <thead>
    <tr>
      <th>Order number</th>
      <th>Content raw</th>
      <th>Text colour</th>
      <th>Text position top</th>
      <th>Text position left</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.order_number %></td>
        <td><%= page.content_raw %></td>
        <td><%= page.text_colour %></td>
        <td><%= page.text_position_top %></td>
        <td><%= page.text_position_left %></td>
        <td><%= page.status %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>
