<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<%= link_to 'Add A Page', new_story_page_path(@story) %> |
<%= link_to 'Pages', story_pages_path(@story) %> |
<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
